<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div style="margin-left: 300px;margin-top:100px">
        <h3 style="border:1px solid black;margin:20px 0;width: 250px">题目：{{ article.title }}</h3>
        <p style="border:1px solid black;margin:20px 0;width: 400px">内容：{{ article.context }}</p>
        <p style="border:1px solid black;margin:20px 0;width: 150px">栏目：{{ article.my_classify }}</p>
        <h4>评论<span style="color: gray">({{ article.press }})</span></h4>
         {% for press in article.my_press %}
         <p>
            评论内容：{{ press.content }} &nbsp; <span style="font-size: 10px;color: lightgray"> 评论时间：{{ press.date }}</span>
        </p>
             <hr style="margin-bottom: 20px">
       {% endfor %}
        <form action="{{ url_for('blue.add_press',id=article.id) }} " method="post">
            评论：<input placeholder="在此处添加评论" style="margin-top: 50px;width: 400px;height: 50px;" type="text" name="content"><br><br>
            <input style="color: orange;width: 100px;height: 50px;background-color: #00a0e9" type="submit" value="添加" >
        </form>
       <br>

        <form action="{{ url_for("blue.index") }}">
            <input style="margin-top: 50px;color: orange;width: 100px;height: 50px;background-color: #00a0e9" type="submit" value="返回首页">
        </form>
       <a href=""></a>
   </div>
</body>
</html>